.card,
.card-body {
  border-radius: $border-radius;
}

.card img {
  border-radius: $border-radius $border-radius 0 0;
}

.card-body {
  padding: 1.5em;
}

.mrg-btm {
  margin-bottom: 2em;
}

.btn__news {
  background-image: linear-gradient(to right, $primary 85%, $grey 15%);
  box-shadow: inset 0 0 0 0.01px $primary !important;
  transition: ease-out 0.4s;

  &:hover {
    box-shadow: inset 25em 0 0 0.01px $grey !important;
  }
}

.page-link {
  color: $primary;
  border-color: $primary;

  &:hover {
    color: $white;
    background: $grey;
  }
}
